html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(./assets/Sun.svg);
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  background: var(--bg-url) no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*Profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: block;
  margin: auto;
  object-fit: cover;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

/*Switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light #switch button {
  right: 0;
  left: initial;
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  align-items: center;
  border: 1px;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*Psudo-selecotor */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Social links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;

  padding: 24px 0;
  margin: 0 24px;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  border-radius: 50%;
  color: var(--text-color);
}

#social-links ion-icon {
  color: var(--text-color);
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
  display: block;
  margin: 0 24px;
}
